@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #f3eae5;
    --text-dark: #2c2724;
    --white:#ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn{
    outline: none;
    border: none;
    background: transparent;
    transition: 0.3s;
    cursor: pointer;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #a5a3a314;

}

nav{
    position:sticky;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_header{

    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    background-color: var(--text-dark);
}

.nav_logo a{
    font-size: 1.5rem;
    position: sticky;
    font-weight: 700;
    color: var(--white);
}

.nav_menu_btn{
    font-size: 1.5rem;
    position: sticky;
    color: var(--white);
    cursor: pointer;
}

.nav_links{
    position: absolute;
    position: -webkit-sticky;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav_links.open{
    transform: translateY(0);
}

.nav_links a{
    font-weight: 600;
    color: var(--primary-color);
}

.nav_links a:hover{
    color: rgb(0, 242, 255);
}

.nav_btns{
    display:none;
}

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.container_left{
    padding-inline: 1rem;
    text-align: center;   
}

.container_left h1{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
}

.container_left .btn{
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 5rem;
}

.container_left .btn:hover{
    color: var(--text-dark);
    background-color: var(--primary-color);
}

.container_right{
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
}

.container_right::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;
    animation: show .75s 1.25s ease-in-out forwards;
}

@keyframes show{
    0%{
        width:100%;
    }
    100% {
        width: calc(100% - 2rem);
    }
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
}                                                   

.icecream-1{
    max-width: 200%;
    height: 250px;
    filter: drop-shadow(2px 2px 4px #555);
    transform: translate3d(-35px,0, 0) translateY(1rem);
}
.icecream-2{
    width: 115%;
    height: 240px;
    filter: drop-shadow(2px 2px 4px #555);
    transform: translate3d(30px,0,50px) translateX(2rem) translateY(-2rem);
}
.content {
    padding-block: 0 5rem;
    padding-inline: 2rem;
    text-align: center;
}

.content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 2rem;
    color: var(--text-dark);
}

.content h2 {
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-dark);    
}

.content h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
}

.content p {
    line-height: 1.75rem;
    color: var(--text-dark);

}
.location {
    position: absolute;
    left: 1rem;
    bottom: -1rem;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: transparent;
    border-bottom: none;
  }
  
  .location span {
    padding: 5px 10px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: transparent;
    border-radius: 10px;
  }
  
  .socials {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .socials a {
    font-size: 1.25rem;
    color: var(--text-dark);
  }
  


@media (width > 768px) {
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;        
    }

    .nav_header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav_logo a{
        color: var(--text-dark);
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav_links a,
    .nav_links a:hover{
        color: var(--text-dark);
    }

    .nav_btns{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
     }

     .nav_btns .btn{
        font-size: 1.5rem;
        color: var(--text-dark);
        background-color: transparent;
     }

.container{
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 1rem 1rem;
}

.container_left{
    text-align: left;

}
}

@media (width > 1024px) {
.container_right{
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.container_right::before{
    bottom: unset;
    top: 0;
    height: 90%;
}

.images{
    flex-direction: column;
}

.icecream-1{
    width: calc(100% + 3.3rem);
    max-width: 900px;
    transform: translate(-2rem 1rem);
}
.icecream-2{
    max-width: 600px;
    transform: translate(4rem -1rem);
}

.content{
    padding-block: 5rem;
    text-align: left;
    max-width: 400px;
    margin-inline-start: unset;
    
}
}
footer.footer {
    background: transparent;
    color: var(--text-dark);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    position: center;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer.footer p {
    margin: 0;
    position: center;
}

.products-container {
    width: 90%;
    margin: 20px auto;
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product {
    background-color: var(--primary-color);
    margin-top:8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
    color: #555;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart {
    background-color:var(--text-dark);
    color: white;
}

.buy-now {
    background-color: var(--text-dark);
    color: white;
}

.abtuscontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    color: #333;
}

.about-us {
    background-color: var(--primary-color);
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
    font-size: 2.5em;
    color: var(--text-dark);
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

#learn-more-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#learn-more-btn:hover {
    background-color: #555;
}


.sercontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: var(--primary-color);
    color: var(--text-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    color: var(--text-dark);
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service {
    width: 45%;
    margin-bottom: 40px;
}

.service h2 {
    font-size: 2em;
    color: var(--text-dark);
    margin-bottom: 10px;
}

.service p {
    font-size: 1.2em;
    line-height: 1.6;
}

#inquire-btn {
    display: block;
    margin: 40px auto;
    background-color: var(--text-dark);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#inquire-btn:hover {
    background-color: #555;
}

.concontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    color: #333;
}

.contact-info, .contact-form {
    background-color: var(--primary-color);
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h2, .contact-form h2 {
    font-size: 2.5em;
    color: var(--text-dark);
    margin-bottom: 20px;
}

.contact-info p, .contact-form p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-details p {
    margin: 10px 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}